body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 130px;
    
  
}
h2{

    margin-top: 130px;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ffffff00;
    font-weight: bold;
}

thead tr:first-child th {
    background-color: #ffffff00;
}

tbody tr:nth-child(even) {
    background-color: #ffffff00;
}


.navbar {
    background-color: #ffffff00;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Стил за линковете в навигацията */
.navbar a {
    background-color: #246af6;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #1c1c1c;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* При задържане на курсора върху линковете */
.navbar a:hover {
    background-color: #bea8a800;
    color: #fff;
}

/* Стил за основното съдържание */
.content {
    text-align: center;
    margin-top: 50px;
}